@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffff;
  overflow-x: hidden;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100dvh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100dvh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100dvh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
  --vermelho-claro: rgb(255, 92, 92);
  --vermelho-escuro: rgb(224, 33, 51);
  --vermelho-vivo: rgb(255, 0, 0);
  --turqueza: rgb(0, 151, 178);
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid var(--vermelho-claro);
  font-family: 'Lato';
}

h1.titulo{
  color: red;
  font-family: 'Lato';
}
.header .container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 100%;
  height: 100%;
}

.header img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #d52626;
}

.agora {
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: var(--vermelho-claro);
}

.titulo {
  color: var(--vermelho-claro);
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/SalaCirurgia.png');
  background-size: cover;
  font-family: 'Lato';
}

.banner .container {
  height: min(69%, 760px);
  width: 40%;
  position: relative;
  left: 10%;
  top: 14%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.63);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 3fr;
}

.banner .container p{
  font-size: clamp(69px, calc(0.5vw + 10px), 760px);
  color: var(--vermelho-vivo);
  text-align: center;
}

.banner .container span{
  font-size: clamp(22px, calc(0.5vw + 22px), 520px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container button{
  position: relative;
  left: 25%;
  top: 30%;
  max-height: 33%;
  max-width: 40%;
  border-radius: 50px;
  background-color: white;
  color: var(--vermelho-escuro);
}

/* MISSÃO VISÃO VALORES */

.ferramentas {
  height: 70dvh;
  width: 100vw;
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  font-family: 'Lato';
}

.ferramentas .box img {
  width: 170px;
}

.ferramentas span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(120px, calc(0.5vw + 15px), 760px);
  color: var(--vermelho-escuro);
}

.ferramentas .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  width: 90%;
  height: 90%;
}

.ferramentas .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ferramentas .box img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.ferramentas .box h1{
  font-size: clamp(12px, calc(0.5vw + 24px), 240px);
  text-align: center;
}

.ferramentas .box p{
  width: 60%;
  font-size: clamp(6px, calc(0.5vw + 12px), 120px);
  text-align: center;
}

/* Nossos valores */

.valores {
  height: 70dvh;
  width: 100vw;
  background-color: var(--turqueza);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  color: white;
  font-family: 'Lato';
}

.valores .box img {
  width: 170px;
}

.valores .titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(120px, calc(0.5vw + 15px), 760px);
  color: var(--vermelho-vivo);
}

.valores .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  width: 100%;
  height: 100%;
}

.valores .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.valores .box img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.valores .box h1{
  font-size: clamp(12px, calc(0.5vw + 24px), 240px);
  text-align: center;
}

.valores .box p{
  width: 60%;
  font-size: clamp(6px, calc(0.5vw + 12px), 120px);
  text-align: center;
}

/* Nossa Equipe */

.equipe {
  height: 100dvh;
  width: 100vw;
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  font-family: 'Lato';
}

.equipe .box img {
  width: 170px;
}

.equipe span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(120px, calc(0.5vw + 15px), 760px);
  color: var(--vermelho-escuro);
}

.equipe .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  width: 90%;
  height: 90%;
}

.equipe .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.equipe .box img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.equipe .box h1{
  font-size: clamp(12px, calc(0.5vw + 24px), 240px);
  text-align: center;
}

.equipe .box p{
  width: 60%;
  font-size: clamp(6px, calc(0.5vw + 12px), 120px);
  text-align: center;
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}