@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffff;
  overflow-x: hidden;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100dvh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100dvh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100dvh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
  --vermelho-claro: rgb(255, 92, 92);
  --vermelho-escuro: rgb(224, 33, 51);
  --vermelho-vivo: rgb(255, 0, 0);
  --turqueza: rgb(0, 151, 178);
}

/* Header */

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid var(--vermelho-claro);
  font-family: 'Lato';
  background-color: #fff;
}

.header .container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  grid-template-rows: 100%;
  height: 100%;
  align-items: center;
  padding: 0 30px;
}

.header img {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.titulo {
  color: var(--vermelho-escuro);
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(15px, calc(2vw + 10px), 360px);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: var(--vermelho-claro);
}

.header a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #d52626;
  transition: font-size 0.3s ease;
}

.header a:hover {
  font-size: 1.8rem;
}

.agora {
  font-weight: 800;
}

/*login*/

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/SalaCirurgia.png');
  background-size: cover;
  position: relative; 
}

.login .container {
display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--vermelho-escuro);
  flex-direction: column;
  height: max(53%, 378px);
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: clamp(15px, calc(1vw + 1.95dvh + 5px) ,360px);
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-evenly;
  flex-direction: column;
}

.formulario span {
  font-size: clamp(15px, calc(0.25vw + 1.13dvh + 5px) ,360px);
  font-weight: 800;
}

.formulario input {
  border: 2px solid var(--turqueza);
  text-align: center;
  border-radius: 10px;
  margin: 0;
  height: clamp(5px, calc(3.5dvh + 5px) ,69px);
  font-size: clamp(15px, calc(0.25vw + 0.55dvh + 5px) ,360px);
}

.formulario select {
  border: 2px solid var(--turqueza);
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: clamp(15px, calc(0.5vw + 0.75dvh + 10px) ,360px);
  color: #fff;
  background-color: var(--vermelho-vivo);
  width: clamp(120px, calc(15vw + 5px), 760px);
  height: clamp(5px, calc(4dvh + 5px), 69px);
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}




.alerta_erro {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin-bottom: 10px; 
    position: absolute; 
    top: 10px; 
    left: 50%;       
    transform: translateX(-50%);
    width: auto;
}

.card_erro {
    display: none; 
    color: black;
    background-color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    border: 2px solid #ED145B;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    position: relative;
}


#section_aguardar, #section_excluir {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.379);
    justify-content: center;
    align-items: center;
}

#section_aguardar img {
    width: 6rem;
    height: fit-content;
    position: relative;
}

#section_aguardar .borda_aguardar {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.2rem solid var(--corTextoForm);
    border-top-color: var(--corBotaoForm);
    animation: linear infinite 1s aguardar;
} 

/* Responsividade do iPhone 11 Pro Max iOS (Em pé)*/
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 3){
    .header .container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 4fr;
  grid-template-rows: 100%;
  height: 100%;
}
  .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: var(--vermelho-claro);
  font-size: clamp(15px, calc(2vw + 3px) ,360px);
}
.header a {
  font-size: clamp(15px, calc(2vw + 3px) ,360px);
  text-decoration: none;
  color: #d52626;
}

.header img {
  max-width: 300%;
  height: auto;
  object-fit: cover;
}

.titulo {
  color: var(--vermelho-claro);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(15px, calc(2vw + 10px) ,360px);
}
}

/* Responsividade do iPhone 11 Pro Max (Deitado) */
@media only screen 
and (device-width: 896px) 
and (device-height: 414px) 
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape){

  .login {
  height: 90dvh;
  background-image: url('../assets/SalaCirurgia.png');
  background-size: cover;
  overflow-y: auto;
}

  .card {
  width: max(60%, 260px);
  height: max(72%, 210px);
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--vermelho-escuro);
  flex-direction: column;
  padding: 20px 0;
  position: absolute;
  top: 5dvh;
}

.footer {
  background-color: #32b9cd;
  height: 80px;
  color: #fff;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
}
}